<html>

<h1>
{{.title}}
</h1>
<form  method="POST" action="./signuped">
        <h2 class="form-signin-heading">会員登録</h2>
        ユーザ名(20字以内)
        <input name="id" type="text" >
        メールアドレス
        <input name="name" type="text" >

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</html>